button {
    padding: 10px 20px;
    background-color: #61dafbaa; 
    color: ff6b6b;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #61dafbaa; 
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #61dafbaa;
    border-radius: 4px;
  }
  
  li > div {
    margin-bottom: 10px;
  }
  
  li > div:first-child {
    display: flex;
    align-items: center;
  }
  
  li > div:last-child {
    display: flex;
    justify-content: space-between;
  }
  
  input[type="checkbox"] {
    margin-right: 10px;
  }
  
  span {
    font-size: 18px;
  }
  
  button {
    background-color: #6cb2eb; 
  }
  
  button:hover {
    background-color: #478cd7; 
  }
  
  p {
    margin: 5px 0;
  }
  