

/* Estilos para el navbar */
.nav-container {
    position: fixed;
    top: 0;
    width: 98%;
    height: 80px;
    background-color: #1a2a3a; /* Azul oscuro */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 100;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-logo-container {
    width: 60px;
}

.nav-button {
    font-size: 18px;
    color: #f0f0f0; /* Texto blanco */
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: color 0.3s;
}

.nav-button:hover {
    color: #c0c0c0; /* Cambia el color del texto al hacer hover */
}

/* Estilos para la sidebar */
.sidebar-container {
    position: fixed;
    top: 80px;
    bottom: 0;
    left: 0;
    width: 250px;
    background-color: #f5f5dc; /* Beige */
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    z-index: 99;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
}

.sidebar-title {
    font-size: 24px;
    margin-left: 20px;
    margin-bottom: 20px;
    color: #1a2a3a; /* Azul oscuro */
}

.sidebar-subtitle {
    font-size: 16px;
    font-weight: bold;
    margin-left: 20px;
    color: #1a2a3a; /* Azul oscuro */
}

.sidebar-list-item {
    display: flex;
    width: 100%;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
    color: #1a2a3a; /* Azul oscuro */
}

.sidebar-list-username {
    font-size: 16px;
    margin-left: 20px;
    color: #1a2a3a; /* Azul oscuro */
    cursor: pointer;
    transition: 0.3s;
}

.sidebar-list-username:hover {
    opacity: 0.7;
}

.sidebar-list-status {
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    margin-right: 20px;
    color: #1a2a3a; /* Azul oscuro */
    cursor: pointer;
    transition: 0.3s;
}
